extends layout

include utils

append head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luckiest+Guy")
    link(rel="stylesheet" href="/stylesheets/create-pet.css")
    script(src='/javascripts/create-pet.js' type='module')

block content
    +validationErrorSummary(errors)
    div(id="firstContainer")
        form(action="/pets/new" method="post" id="form")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="userId" value=user.id)
            div 
            label(for="name" class="font") Name:
            input(type="text" name="name" value=pet.name )
            div 
            label(for="description" class="font") Description:
            textarea(name="description" )=pet.description
            div 
            label(for="image" class="font") Image URL:
            input(type="text" name="image" value=pet.image )
            div 
            label(for="birthday" class="font") Birthday:
            input(type="date" name="birthday" value=pet.birthday )
            div 
            label(for='petTypeId' class="font") Pet Type:
            select(id='select-pet-type' name='petTypeId' ) 
                option(value='' disabled selected hidden) --Select a Pet Type --
                each petType in petTypes 
                    option(value=petType.id selected=(parseInt(petType.id) === parseInt(petTypeId)))= petType.type
            div 
            button(id='createBtn' type="submit") Create