extends layout

include utils

block content
    script(src='/javascripts/create-pet.js' type='module')
    +validationErrorSummary(errors)
    form(action="/pets/new" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="userId" value=user.id)
        div 
        label(for="name") Name:
        input(type="text" name="name" value=pet.name required)
        div 
        label(for="description") Description:
        textarea(name="description" required)=pet.description
        div 
        label(for="image") Image URL:
        input(type="text" name="image" value=pet.image required)
        div 
        label(for="birthday") Birthday:
        input(type="date" name="birthday" value=pet.birthday)
        div 
        label(for='petTypeId') Pet Type:
        select(id='select-pet-type' name='petTypeId') 
            option(value='' disabled selected hidden) --Select a Pet Type --
            each petType in petTypes 
                option(value=petType.id)= petType.type
        div 
        button(id='createBtn' type="submit") Create