extends layout
include utils
block content
    +validationErrorSummary(errors)
    form(action=`/pets/${pet.id}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="userId" value=user.id)
        div 
        label(for="name") Name:
        input(type="text" name="name" value=pet.name required)
        div 
        label(for="description") Description:
        textarea(name="description" required)= pet.description
        div 
        label(for="image") Image:
        input(type="text" name="image" required value=pet.image)
        div 
        label(for="birthday") Birthday:
        input(type="date" name="birthday" value=pet.birthday required)
        div 
        label(for='petTypeId') Pet Type:
        select(name='petTypeId')
            each petType in petTypes 
                option(value=petType.id selected=(parseInt(petType.id) === parseInt(pet.petTypeId)))= petType.type
        div 
        button(type="submit") Submit Changes
        a(href=`/pets/${pet.id}`)
            button(type='submit') Cancel