extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  //- add page specific js
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  link(rel="preconnect" href="https://fontawesome.com/v6/icons/github-alt?s=brands")
  script(src="/javascripts/petLikes.js" type="module")

block content
  h1 CHECK OUT THESE CUTE PETS
  div(id="firstContainer" class="element")
    div(id="petsContainer" class="element")
      each pet, index in pets
        div(id= `outside-box-${index}` style="display:flex; margin:20px; width:500px; border:2px solid #05386B; border-radius:25px; background-color:#fff8dc; color: black; box-shadow: 5px 10px 8px #888888")
          a(href=`/pets/${pet.id}` class="petImage")
            img(id='image' src=pet.image style="width:150px; height: 150px; border-radius:50%")
          div(class="column")
            span(id="name" style="font-weight:bold; margin-top: 20px;")= pet.name
            span(id='description' style="font-weight:normal")= pet.description
            div(id="likes")
              if (user)
                if (petArr[index].exists)
                  button(id=index class=`like-button` type="submit" petid=pet.id petlikeid=petArr[index].exists style='color:red') Like
                else
                  button(id=index class=`like-button` type="submit" petid=pet.id style='color:white') Like
                span(id="likes-value")= pet.PetLikes.length
              if (!user)
                span(id="likes-value")= `Like: ${pet.PetLikes.length}`
  div(class="footer")
    div(id="add")
      span(id="contributors") Connect with the developers: 
      a(href= "https://github.com/huyennguuyen") Huyen
    div(id="add")
      label(for='add')
      a(href= "https://github.com/bandrewi") Andrew
        img(i class="fa-brands fa-github-alt")
    div(id="add")
      label(for='add')
      a(href= "https://github.com/rammartinez00") Rami
        img(i class="fa-brands fa-github-alt")
    div(id="add")
      label(for='add')
      a(href= "https://github.com/vee-alianza") Vee
        img(i class="fa-brands fa-github-alt")
