extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  //- add page specific js
  script(src="/javascripts/petLikes.js" type="module")

block content
  h1 CHECK OUT THESE CUTE PETS

  div(id="firstContainer" class="element")
    div(id="petsContainer" class="element")
      each pet in pets
        div(id= "outside-box" style="display:flex; margin:25px; border:2px solid #05386B; border-radius:15px 50px; background-color:#5cdb95;color:#EDF5E1 ")
          a(href=`/pets/${pet.id}`)
            img(id='image' src=pet.image style="width:150px; border-radius:50%")
          span(id= "name" style="font-weight:bold; padding:10px")= pet.name
          input(id= "petId" hidden value=pet.id)
          span(id='description' style="font-weight:normal; box-sizing:content-box")= pet.description
          button(id="like-button" type="submit") Like
          div(id="likes") Like:
            span(id="likes-value")
    div(id="addContainer" class= "element")
      div(id="add")
        label(for='add')
        a(href= "https://github.com/huyennguuyen") Huyen
          img(i class="fa-brands fa-github-alt")
      div(id="add")
        label(for='add')
        a(href= "https://github.com/bandrewi") Andrew
          img(i class="fa-brands fa-github-alt")
      div(id="add")
        label(for='add')
        a(href= "https://github.com/rammartinez00") Rami
          img(i class="fa-brands fa-github-alt")
      div(id="add")
        label(for='add')
        a(href= "https://github.com/vee-alianza") Vee
          img(i class="fa-brands fa-github-alt")
