extends layout 

block content 
    script(src='/javascripts/delete-pet.js' type='module')
    div
        h1=pet.name
        image(src=`${pet.image}`)
    div
        p=pet.description
    div
        //comments
    div 
        //displays profiles that likes pet page
    div
        h2=`${pet.name}'s Hooman`
        h2=`Pet Owner: ${pet.User.fullName}`
    div
        h2=`${pet.name}'s Inpawmation`
        div
            p=`Birthday: ${pet.birthday}`
            p=`Pet Type: ${pet.PetType.type}`
            //p= tags
    if (user.id === pet.userId)
        div
            a(href=`/pets/${pet.id}/edit`)
                button(id='edit-btn') Edit
            a(href=`/pets/${pet.id}/delete`)
                button(id='delete-btn') Delete
            //- form(action=`/pets/${pet.id}/delete` method='post')
                button() Delete
    