extends layout
include utils
append head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luckiest+Guy")
    link(rel="stylesheet" href="/stylesheets/pet-page.css")
    script(src='/javascripts/pet-page.js' type='module')
    script(src='/javascripts/petLikes.js' type='module')
block content
    div(class="outside")
        div(class="firstContainer")
            div(class="picture")
                div
                    h1=pet.name
                    image(src=`${pet.image}` style="height:300px; width:300px")
            div(class="words")
            if (user)
                div
                    if petLike
                        button(class='like-button' petid=pet.id petlikeid= petLike.id style='color:red' type="submit" ) Like
                    else 
                        button(class='like-button' petid=pet.id style='color:white' type="submit" ) Like
                div
                p(class= "description")=`Description: ${pet.description}`
            div
                //displays profiles that likes pet page
            div.ownerInfoBox()
                h2=`${pet.name}'s Hooman`
                a(href=`/users/${pet.User.id}`)
                    h2=`Pet Owner: ${pet.User.fullName}`

            div.petInfoBox()
                h2=`${pet.name}'s Inpawmation`
                div
                    p=`Birthday: ${pet.birthday}`
                    p=`Pet Type: ${pet.PetType.type}`
    if (user)
        if (user.id === pet.userId)
            div.comments-section
                a(href=`/pets/${pet.id}/edit`)
                    button(id='edit-btn') Edit
                a(href=`/pets/${pet.id}/delete`)
                    button(id='delete-btn') Delete

    div
        //comments
        if user
            +validationErrorSummary(errors)
            form(action="/api/comments" method="post" class= "comments-section")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="userId" value=user.id)
                input(type="hidden" name="petId" value=pet.id)
                textarea(name="content" placeholder="add a comment")
                button(type="submit" class="lowered") Submit
    div
        each comment in comments
          div(id=`commentbox-${comment.id}` class="lowered")
            div(id=`post-content-${comment.id}` class="comments-section")= comment.content
            if user && comment.userId === user.id
                div.comments-section.lowered
                    button(type="submit" id=`delete-post-${comment.id}`).deletebtn Delete
                    button(type="submit" id=`edit-post-${comment.id}`).editbtn Edit
                div(id=`section-${comment.id}`).comments-section.lowered
                    +validationErrorSummary(errors1)
                    form(action=`/api/comments/${comment.id}` method='patch' class="hidden" id=`edit-form-${comment.id}`)
                        input(type="hidden" name="_csrf" value=csrfToken)
                        label(for="content") Content:
                        textarea(name="content" id=`content-field-${comment.id}` value=comment.content)
                        button(class="edit-submit-btn" id=`edit-btn-${comment.id}` style="background-color: 00AB66;") Submit
