extends layout
append head 
  link(rel='stylesheet' href='/stylesheets/search.css')
block content
  if pets
    div.content
      each result in pets
        div.petResult
          div
           a(href=`/pets/${result.id}`)
             img.petImage( src=result.image)
          div.resultContent
            div= `Name: ${result.name}`
            div: a(href=`/users/${result.userId}`)=`Visit My Owner ${result.User.userName}!`
                    
    
