extends layout
block content
  script(src='/javascripts/profile.js' type='module')
  div(style=`background-image: url(${user.banner});`).profileInfoBox
    img(src=user.profilePicture, style="width:20%; height:75%; border-radius: 50%;")
    div.profileDetails
      label(for="Snarls Barkley")
      h2(name="Snarls Barkley" )=`Name: ${user.fullName}`
      h4=`User ID: ${user.id}`
      p=`Biography ${user.bio}`
      a(href=`Website Link${user.websiteLink}`) Test
      a(href=`/users/${user.id}/edit`)
        button() Edit Profile
  div.tables
    a(href=`/users/${user.id}`).likes Pet Likes
    a(href=`/users/${user.id}`).collections Collections
    a(href=`/users/${user.id}`).pets Pets
    a(href=`/users/${user.id}`).comments Comments

  div.dataTables
    table.petLikes
      thead
        tr
          th Pet Likes
      tbody
          td displays user likes
    table.collectionsTable
      thead
        tr
          th Collections
      tbody
          td displays user's collection
    table.petsTable
      thead
        tr
          th Pets
      tbody
          td displays user pets
    table.commentsTable
      thead
        tr
          th Comments
      tbody
          td displays user comments
