extends layout
include utils
block content
    +validationErrorSummary(errors)
    form(action=`/users/${user.id}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="fullName") Full Name:
        input(type="text" name="fullName" value=user.fullName )
        label(for="userName") Username:
        input(type="text" name="userName" value=user.userName )
        label(for="email") Email:
        input(type="text" name="email" value=user.email )
        label(for="profilePicture") Profile Picture:
        input(type="text" name="profilePicture" value=user.profilePicture)
        label(for="banner") Banner:
        input(type="text" name="banner" value=user.banner)
        label(for="websiteLink") Website Link:
        input(type="text" name="websiteLink" value=user.websiteLink placeholder="example: google.com")
        label(for="bio") Bio:
        textarea(name="bio" value=user.bio)
        button(type="submit") Submit
