extends layout

append head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  script(src='/javascripts/profile.js' type='module')

block content
  div(style=`background-image: url(${user.banner});`).profileInfoBox
    img(src=user.profilePicture, style="width:20%; height:75%; border-radius: 50%;")
    div.profileDetails
      label(for="Snarls Barkley")
      h2(name="Snarls Barkley" )=`Name: ${user.fullName}`
      h4=`User ID: ${user.id}`
      p=`Biography: ${user.bio}`
      a(href=`Website Link${user.websiteLink}`) Test
      a(href=`/users/${user.id}/edit`)
        button() Edit Profile
  div.tables
    a(href=`/users/${user.id}`).likes Pet Likes
    a(href=`/users/${user.id}`).collections Collections
    a(href=`/users/${user.id}`).pets Pets
    a(href=`/users/${user.id}`).comments Comments

  div.dataTables
    table.petLikes
      thead
        tr
          th Pet Likes
      tbody
          td displays user likes
    table.collectionsTable
      thead
        tr
          th Collections
      tbody
          td displays user's collection
    div(style="margin-top:20px; width:50%;").petsTable
      each pet in userPets
        div(style="display:flex; margin:25px; box-sizing:content-box; border: 2px solid green; border-radius:25px; background-color:lavender;")
          img(src=pet.image style="width:100px; border-radius:50%;")
          div(style="font-weight:bold; padding:10px;")= pet.name
    table.commentsTable
      thead
        tr
          th Comments
      tbody
          td displays user comments
