extends layout
block content
  script(src='/javascripts/profile.js' type='module')
  div
    img(src="https://www.clipartmax.com/png/full/42-427582_sign-in-my-profile-icon-png.png", style="width:100px")
    h2=user.fullName
    h4=user.id
    a(href=user.websiteLink)
    a(href=`/users/${user.id}/edit`)
      button() Edit Profile
  div
    a(href=`/users/${user.id}`).likes Pet Likes
    a(href=`/users/${user.id}`).tags Tags
    a(href=`/users/${user.id}`).collections Collections
    a(href=`/users/${user.id}`).pets Pets

    table.petLikes
      thead
        tr
          th Pet Likes
      tbody
          td displays user likes
    table.tagsTable
      thead
        tr
          th Tags
      tbody
          td displays tagged pets
    table.collectionsTable
      thead
        tr
          th Collections
      tbody
          td displays user's collection
    table.petsTable
      thead
        tr
          th Pets
      tbody
          td displays user pets
  div
    p= user.bio
    p Comments to be displayed
