extends layout

append head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  script(src='/javascripts/profile.js' type='module')

block content
  div(style=`background-image: url(${userProfile.banner});`).profileInfoBox
    img(src=userProfile.profilePicture, style="width:250px; height:250px; border-radius: 50%;")
    div.profileDetails
      label(for="userName")
      h2(name="userName")=`Name: ${userProfile.fullName}`
      h4=`User ID: ${userProfile.id}`
      p=`Biography: ${userProfile.bio}`
      a(href=userProfile.websiteLink)=userProfile.websiteLink
      if (user)
        if(user.id === id)
          a(href=`/users/${userProfile.id}/edit`)
            button(id="editProfileBtn") Edit Profile
  div.tables
    a(href=`/users/${userProfile.id}`).likes Pet Likes
    a(href=`/users/${userProfile.id}`).pets Pets
    a(href=`/users/${userProfile.id}`).comments Comments

  div.dataTables
    div(style="margin-top:20px; width:100%;").petLikes
      each like in likes
        div.commentDiv
          a(href=`/pets/${like.Pet.id}`).pic
            img(src=like.Pet.image style="width:100px; border-radius:50%;")
          div.inner
            div(style="font-weight:bold; padding:10px;")= like.Pet.name
            div().content=`Description: ${like.Pet.description}`
    div(style="margin-top:20px; width:100%;").petsTable
      each pet in userPets
        div.commentDiv
          a(href=`/pets/${pet.id}`).pic
            img(src=pet.image style="width:100px; border-radius:50%;")
          div.inner
            div(style="font-weight:bold; padding:10px;")= pet.name
            div().content=`Description: ${pet.description}`
    div.commentsTable
      div.allComments
        each comment in comments
          div.commentDiv
            a(href=`/pets/${comment.petId}`).pic
              img(src=comment.Pet.image style="width:100px; border-radius:50%;")
            div.inner
              p(style="font-weight: bold;")=comment.Pet.name
              p.content=`Comment: ${comment.content}`
