extends layout
include utils
block content
  +validationErrorSummary(errors)
  form(action="/users/signup" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    div
      label(for="fullName") Full Name:
      input(type="text" name="fullName" value=user.fullName required)
    div
      label(for="userName") Username:
      input(type="text" name="userName" value=user.userName required)
    div
      label(for="email") Email:
      input(type="text" name="email" value=user.email required)
    div
      label(for="password") Password:
      input(type="password" name="password" value=user.password required)
    div
      label(for="confirmPassword") Confirm Password:
      input(type="password" name="confirmPassword"  required)
    div
      button(type="submit") Submit
