extends layout
include utils
append head
  link(rel="stylesheet" href="/stylesheets/sign-up.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
block content
  +validationErrorSummary(errors)
  form(id="signinForm" action="/users/signup" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    div
    h4 Hello Friend!
    label(for="fullName" class="padding") Full Name:
    input(type="text" name="fullName" value=user.fullName)
    div
    label(for="userName" class="padding") Username:
    input(type="text" name="userName" value=user.userName)
    div
    label(for="email" class="padding") Email:
    input(type="text" name="email" value=user.email)
    div
    label(for="password" class="padding") Password:
    input(type="password" name="password" value=user.password)
    div
    label(for="confirmPassword" class="padding") Confirm Password:
    input(type="password" name="confirmPassword")
    div.lowered
    button(type="submit" class="padding") Submit
